TSC_Lab2/work
TSC_Lab3/work
TSC_Lab3/vsim.wlf
TSC_Lab3/modelsim.ini
TSC_Lab4/vsim.wlf
TSC_Lab4/modelsim.ini
TSC_Lab5/vsim.wlf
TSC_Lab5/modelsim.ini
TSC_Lab6/vsim.wlf
TSC_Lab6/modelsim.ini
TSC_Lab7/vsim.wlf
TSC_Lab7/modelsim.ini
*/work
*/vsim.wlf
*/sim
*/modelsim.ini
*/"ssh key.txt"
